{% extends 'base.html' %}
{% block content %}
<h1>Saturn Sports Station</h1>

<h5>APP:</h5>
<p>{{ app_name }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Telah login sebagai: {{ user }}</h5>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<hr>

<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=my">
    <button type="button">My Products</button>
</a> 

{% if not product_list %}
<p>Belum ada produk pada Saturn Sports Station.</p>
{% else %}
  {% for product in product_list %}
  <div>
    <h2>{{ product.name }}</h2>
    <p><b>Harga:</b> Rp{{ product.price }}</p>
    <p><b>Kategori:</b> {{ product.category }} {% if product.is_featured %}| Featured{% endif %}</p>

    {% if product.thumbnail %}
      <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100"><br>
    {% endif %}

    <p>{{ product.description|truncatewords:20 }}</p>
    <a href="{% url 'main:show_product' product.id %}">
      <button>Detail</button>
    </a>
  </div>
  <hr>
  {% endfor %}
{% endif %}
{% endblock %}
